$mobile-menu-height: 40em;
$desktop-sidebar-width: 80px;
.sidebar {
  background-color: $color-primary;
    position: relative;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  z-index: 20;
  transition: 0.2s;
  width: $desktop-sidebar-width;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    width: 100%;
    &:hover {
      height: $mobile-menu-height;
    }
  }
  @media (min-width: $bp-large) {
    &:hover {
      width: 20em;
    }
  }

  &-content {
    list-style-type: none;
    position: fixed;
    opacity: 0;
    transition: 400ms;
    transition-delay: 50ms;
    height: 100%;
    width: min-content;

    padding-top: 80px;
    justify-content: center;
      display: none;

    &:hover {
      opacity: 1;
        display: grid;
    }

    @media only screen and (max-width: $bp-large) {
      position: relative;
      height: inherit;
      width: 100%;
      padding-top: 0;

    }

    @media only screen and (min-width: $bp-large) {
      &:hover {
        width: inherit;
          display: grid;
        opacity: 1;
      }

    }

  }
}

.nav-btn {
  border: none;
  border-radius: 0;
  position: absolute;

  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem;

  &::before,
  &::after {
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block;
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  &::after {
    transform: translateY(1.3rem);
  }

  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
    right:0.5em;
    bottom: 1.5em;

    &::before {
      transform: translateY(-1.2rem);
    }
    &::after {
      transform: translateY(1rem);
    }
  }
}