@import "base";
@import "animations";
@import "header";
@import "intro";
@import "nav";
@import "sections/index";
@import "media.queries";
@import "footer";

.flex-wrap {
  display: flex;
  flex-flow: wrap;
}

.image-margin {
  margin-bottom: 20px;
}

.center-flex-content {
  align-items: center;
  display: flex;
  flex-flow: column;
}