@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

.fade-move {
  transition: transform .3s ease-out;
}

.zoom-move {
  transition: transform .3s ease-out;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

.zoom-move {
  transition: transform .3s ease-out;
}

@keyframes zoomInX {
  from {
    opacity: 0;
    transform: scaleX(0);
  }
  50% {
    opacity: 1;
  }
}

.zoomInX {
  animation-name: zoomInX;
}

@keyframes zoomOutX {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scaleX(0);
  }
  to {
    opacity: 0;
  }
}

.zoomOutX {
  animation-name: zoomOutX;
}

.zoom-move {
  transition: transform .3s ease-out;
}

@keyframes zoomInY {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  50% {
    opacity: 1;
    tranform: scaleY(1);
  }
}

.zoomInY {
  animation-name: zoomInY;
}

@keyframes zoomOutY {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 0;
  }
}

.zoomOutY {
  animation-name: zoomOutY;
}
 .collapse-move {
  transition: transform .3s ease-in-out;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0)
  }
  to {
    opacity: 1;
  }
}

.scaleIn {
  animation-name: scaleIn;
}

@keyframes scaleOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

.scaleOut {
  animation-name: scaleOut;
}

.scale-move {
  transition: transform .3s cubic-bezier(.25, .8, .50, 1);
}

.slide-move {
  transition: transform .3s;
}

@keyframes slideYIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
  }
}

.slideYIn {
  animation-name: slideYIn;
}

@keyframes slideYOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-15px);
  }
}

.slideYOut {
  animation-name: slideYOut;
}

.slide-move {
  transition: transform .3s;
}

@keyframes slideYDownIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}

.slideYDownIn {
  animation-name: slideYDownIn;
}

@keyframes slideYDownOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(15px);
  }
}

.slideYDownOut {
  animation-name: slideYDownOut;
}

.slide-move {
  transition: transform .3s;
}

@keyframes slideXLeftIn {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
  }
}

.slideXLeftIn {
  animation-name: slideXLeftIn;
}

@keyframes slideXLeftOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(-15px);
  }
}

.slideXLeftOut {
  animation-name: slideXLeftOut;
}

.slide-move {
  transition: transform .3s;
}

@keyframes slideXRightIn {
  from {
    opacity: 0;
    transform: translateX(15px);
  }
  to {
    opacity: 1;
  }
}

.slideXRightIn {
  animation-name: slideXRightIn;
}

@keyframes slideXRightOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(15px);
  }
}

.slideXRightOut {
  animation-name: slideXRightOut;
}